<p-orderList [value]="wineries" header="My Wineries" filterBy="Name" filterPlaceholder="Filter by name" [dragdrop]="true">
  <ng-template let-winery pTemplate="item">
      <div class="winery-item">
        <div class="image-container">
          <img src="assets/images/wineryLogo.jpg" alt="{{winery.Name}}" style="display:inline-block;margin:2px 0 2px 2px" width="100"> 
        </div>
       <div class="winery-list-detail">
         <h5 class="p-mb-2">{{winery.Name}}</h5>
         <span class="winery-category">{{winery.Url}}</span>
       </div>
         
        <div class="winery-list-action">
          <h6 class="p-mb-2">{{winery.Rating}}</h6>
          <span class="pull-right">{{winery.Phone}}</span>
        </div>
         <!-- <img src="assets/images/{{winery.ImageTitle}}.jpg" alt="{{winery.Name}}" style="display:inline-block;margin:2px 0 2px 2px" width="100"> -->
          <!-- <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{winery.Name}} - {{winery.Url}}</div> -->
      </div>
  </ng-template>
</p-orderList>