<!-- <p-orderList [value]="wineries" header="My Wineries" filterBy="Name" filterPlaceholder="Filter by name" [dragdrop]="true">
  <ng-template let-winery pTemplate="item">
      <div class="winery-item">
        <div class="image-container">
          <img src="assets/images/wineryLogo.jpg" alt="{{winery.Name}}" style="display:inline-block;margin:2px 0 2px 2px" width="100"> 
        </div>
       <div class="ms-2 winery-list-detail">
         <h5>{{winery.Name}}</h5>
         <span class=" winery-url">{{winery.Url}}</span>
       </div>
         
        <div class="winery-list-action">
          <h6 class="p-mb-2">{{winery.Rating}}</h6>
          <span class="pull-right">{{winery.Phone}}</span>
        </div>
      </div>
  </ng-template>
</p-orderList> -->
<div class="card">
  <p-virtualScroller [value]="wineries" scrollHeight="500px" [itemSize]="100">
      <ng-template pTemplate="header">
          <div class="p-d-flex p-ai-center p-jc-between pb-5">
              My Wineries
                <div class="float-end">
                  <button class="pull-right" mat-fab color="accent">
                    <span class="material-icons">add</span>
                </button>
             </div>
              <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By" (onChange)="onSortChange()" [style]="{'min-width':'10em'}"></p-dropdown>
          </div>
      </ng-template>
      <ng-template let-winery  pTemplate="item" let-i="index">
          <div class="winery-item">
              <div class="image-container">
                <img src="assets/images/wineryLogo.jpg" alt="{{winery.Name}}" style="display:inline-block;margin:2px 0 2px 2px" width="100"> 
              </div>
              <div class="winery-list-detail">
                  <div class="ps-2">{{winery.Name}}</div>
              </div>
              <div class="winery-list-action">
                <h3 class="p-mb-2">{{winery.Rating}}</h3>
                <span class="pull-right">{{winery.Phone}}</span>
              </div>
          </div>
      </ng-template>
  </p-virtualScroller>
</div>
